{% extends "learning_logs/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
    }

    .reset-container {
      background: linear-gradient(45deg, #1e5799, #207cca, #2989d8, #207cca, #1e5799);
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      padding: 20px;
      width: 400px;
      text-align: center;
      color: white;
    }

    .reset-container label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
      text-align: left;
    }

    .reset-container input[type="text"],
    .reset-container input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .reset-container input[type="submit"] {
      background-color: rgba(0, 120, 212, 0.2);
      color: #fff;
      border: 2px solid #0078d4;
      padding: 12px 20px;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s, transform 0.2s;
    }

    .reset-container input[type="submit"]:hover {
      background-color: rgba(0, 120, 212, 0.4);
      transform: scale(1.05);
    }
  </style>

  <div class="container">
    <div class="reset-container">
      <h3>Forgotten your password?</h3>
      <p>Enter your e-mail address to obtain a new password.</p>

      <form method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Send e-mail"></p>
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}
