<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
            background-color: #F0FFF0;
        }

        h3, h5 {
            color: #0078d4;
        }

        code {
            background-color: #e6e6e6;
            padding: 2px 4px;
            border: 1px solid #d1d1d1;
            border-radius: 4px;
        }

        .api-section {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <a href="{% url 'learning_logs:index' %}" class="btn btn-outline-primary float-right">Main Page</a>

    <h3>Privacy Policy for Django-Chronics Social Media Website</h3>

    <div class="section">
        <h5>1. Data Collection:</h5>
        <p>When users choose to log in using Google or Facebook authentication, Django-Chronics will collect the
            following information:
            For Google Auth: Name, Email,
            For Facebook Auth: Name, </p>
    </div>

    <div class="section">
        <h5>2. Data Usage:</h5>
        <p>
            The collected data is used for account creation and display purposes of the user's profile. Username or
            emails may be used as account names.
        </p>
    </div>

     <div class="section">
        <h5>3. User Control:</h5>
        <p>
            Users can edit or delete their accounts directly from their account page on Django-Chronics.
       </p>
    </div>

    <div class="section">
        <h5>4. Third-Party Access:</h5>
        <p>
            Django-Chronics does not provide access to user data to any third-party entities.
       </p>
    </div>

    <div class="section">
        <h5>5. Data Security:</h5>
        <p>
           Django-Chronics implements security measures to safeguard user information. The platform is hosted on Heroku,
            utilizes AWS RDS for PostgreSQL, and securely stores media files in an S3 bucket
       </p>
    </div>

    <div class="section">
        <h5>6. Cookies and Tracking:</h5>
        <p>
           Django-Chronics does not use cookies or tracking technologies.
       </p>
    </div>

    <div class="section">
        <h5>7. Updates to Privacy Policy:</h5>
        <p>
          Users can check this privacy policy periodically for any changes.
       </p>
    </div>


    <div class="section">
        <h5>8. Contact Information:</h5>
        <p>
            For privacy-related concerns or questions, users can contact Django-Chronics at:
            <a href="mailto:astanindenys@outlook.com">astanindenys@outlook.com</a>

        </p>
    </div>


